{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Часті питання
                    </h1>
                    <p class="lead fw-normal text-muted mb-0">Як ми можемо вам допомогти?</p>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        <h2 class="fw-bolder mb-3">Заняття</h2>
                        <div class="accordion mb-1" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">Які курси йоги ви
                                        пропонуєте?</button></h3>
                                <div class="accordion-collapse collapse show" id="collapseOne"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Ми пропонуємо різноманітні курси йоги для всіх рівнів підготовки, включаючи
                                        групові та індивідуальні заняття з інструктором, а також дистанційні заняття. Ми
                                        також пропонуємо спеціальні курси для вагітних жінок.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">Які рівні підготовки ви
                                        пропонуєте?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Ми пропонуємо курси для всіх рівнів підготовки, від початківців до досвідчених
                                        практиків.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">Які переваги групових занять з
                                        інструктором?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Групові заняття з інструктором можуть бути корисні для тих, хто хоче займатися
                                        йогою в групі та отримати підтримку від інших учасників.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">Які переваги індивідуальних
                                        занять з інструктором?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Індивідуальні заняття з інструктором можуть бути корисні для тих, хто хоче
                                        займатися йогою з особливими потребами або хто хоче отримати більше уваги від
                                        інструктора.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">Які переваги дистанційних
                                        занять?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Дистанційні заняття можуть бути корисні для тих, хто хоче займатися йогою в
                                        зручний для них час та місце.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Accordion 2-->

                        <div class="accordion mb-5" id="accordionExample2">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
                                        aria-expanded="true" aria-controls="collapseOne2">Які переваги занять для
                                        вагітних?</button></h3>
                                <div class="accordion-collapse collapse show" id="collapseOne2"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        Заняття для вагітних спеціально розроблені для вагітних жінок. Інструктор
                                        допомагає учасникам займатися йогою в безпечний та ефективний спосіб.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2"
                                        aria-expanded="false" aria-controls="collapseTwo2">Які матеріали потрібні для
                                        занять йогою?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        Для занять йогою вам знадобиться йога-коврик та зручний одяг, який не обмежує
                                        рухів.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree2" aria-expanded="false"
                                        aria-controls="collapseThree2">Які розміри одягу ви пропонуєте?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree2"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        Ми не пропонуємо одяг для занять йогою, але рекомендуємо носити зручний одяг,
                                        який не обмежує рухів.
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- FAQ Accordion 3-->
                        <h2 class="fw-bolder mb-3">Оплата і Сайт</h2>
                        <div class="accordion mb-5 mb-xl-0" id="accordionExample3">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3"
                                        aria-expanded="true" aria-controls="collapseOne3">Які форми оплати ви
                                        приймаєте?</button>
                                </h3>
                                <div class="accordion-collapse collapse show" id="collapseOne3"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample3">
                                    <div class="accordion-body">
                                        Ми приймаємо оплату за наші курси через банківські картки, Google Pay, Apple Pay
                                        та PayPal.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3"
                                        aria-expanded="false" aria-controls="collapseTwo3">Які переваги запису на курси
                                        через ваш сайт?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseTwo3" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample3">
                                    <div class="accordion-body">
                                        Запис на курси через наш сайт дозволяє вам легко зареєструватися на курси та
                                        оплатити їх онлайн. Ви також можете переглянути розклад занять та отримати
                                        додаткову інформ
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree3" aria-expanded="false"
                                        aria-controls="collapseThree3">Як проходять онлайн заняття?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree3"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
                                    <div class="accordion-body">
                                        Вони проводяться в режимі реального часу з використанням відеозв’язку.
                                        Інструктор демонструє різні пози йоги та вказує на помилки, які можуть
                                        виникнути. Учасники можуть спілкуватися з інструктором та іншими учасниками
                                        занять через чат або голосовий зв’язок.

                                        Деякі платформи також пропонують записи занять, які можна переглянути в
                                        будь-який зручний для вас час. Це може бути корисно для тих, хто не може
                                        приєднатися до занять в режимі реального часу або хоче повторити заняття.

                                        Якщо у вас є будь-які питання про проведення онлайн занять з йоги, не соромтеся
                                        запитати свого інструктора або звернутися до служби підтримки
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card border-0 bg-light mt-xl-5">
                            <div class="card-body p-4 py-lg-5">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <div class="h6 fw-bolder">Маєте більше запитань?</div>
                                        <p class="text-muted mb-4">
                                            <a href="contact.html">Зв'яжіться з нами </a>
                                        </p>
                                        <div class="h6 fw-bolder">Follow us</div>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}