{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Лісозаготівля
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Електронна пошта</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                            {% if form.email.errors %}
                                <div class="invalid-feedback">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Увійдіть в систему</button>
                    </form>
                    <div class="mt-3">
                        Не маєте облікового запису? <a href="{% url 'register' %}">Зареєструватися</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
