{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Онлайн сесії йоги</h1>
            <p class="lead fw-normal text-muted mb-0">Оберіть свій онлайн курс йоги</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Динамічні картки сесій -->
            {% for session in sessions %}
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <h5 class="card-title">{{ session.get_session_type_display }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ session.start_time|date:"Y-m-d H:i" }} до {{ session.end_time|date:"Y-m-d H:i" }}</h6>
                        <p class="card-text">З: {{ session.session_code.name }}</p>
                        <a href="{% url 'create_reservation' session.id %}" class="btn btn-primary">Записатися</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
