{% extends 'base.html' %}

{% load static %}

{% block content %}
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Блог</h1>
                        <p class="lead fw-normal text-muted mb-0">Кадри з наших занять</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="embed-responsive">
                                <iframe class="rounded-3 mb-3 embed-responsive-item" style="width: 30vw; height: 19.7vw;"  src="https://www.youtube.com/embed/0bZcY4IYrnE?si=FyePhAJddpPCUhr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <a class="h3 fw-bolder text-decoration-none link-dark " href="pricing.html">Групові занаття</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-5 embed-responsive">
                                <iframe class="rounded-3 mb-3 embed-responsive-item" style="width: 30vw; height: 19.7vw;" src="https://www.youtube.com/embed/Eml2xnoLpYE?si=GrkczOajbJ9mhKUe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <a class="h3 fw-bolder text-decoration-none link-dark " href="pricing.html">Індивідуальні занаття</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-5 mb-lg-0 embed-responsive">
                                <iframe class="rounded-3 mb-3 embed-responsive-item" style="width: 30vw; height: 19.7vw;" src="https://www.youtube.com/embed/Eadzp6T-em4?si=IdvJED9Cc-W4JbLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <a class="h3 fw-bolder text-decoration-none link-dark " href="pricing.html">Заняття з вагітними</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="embed-responsive">
                                <iframe class="rounded-3 mb-3 embed-responsive-item" style="width: 30vw; height: 19.7vw;" src="https://www.youtube.com/embed/7PopfPr2L3s?si=pWGmk_fUpcBiVY3B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <a class="h3 fw-bolder text-decoration-none link-dark " href="pricing.html">Дистанційні заняття</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <h2 class="display-4 fw-bolder mb-4">Приєднyйся до нас</h2>
                    <a class="btn btn-lg btn-primary" href="contact.html">Звя'затися з нами</a>
                </div>
            </section>
{% endblock %}